:root {
    --global-bck-color: #fff;
    --mh-color: #2F303A;
    --normal-txt: #fff;
    --special: #2196F3;
    --special-overlay: rgba(33, 150, 243, 0.9);
    --normal-links: #212121;
    --boring-black: #000;
    --border-top: #ECECEC;
    --global-txt: #757575;
    --box-bck-color: #F5F4FA;
    --color1: #eee;
    --color2: rgba(255, 255, 255, 0.6);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --box-shadow2: rgba(0, 0, 0, 0.15);
    --box-shadow3: rgba(0, 0, 0, 0.12);
    --box-shadow4: rgba(0, 0, 0, 0.14);
    --box-shadow5: rgba(0, 0, 0, 0.2);
    --box-shadow6: rgba(0, 0, 0, 0.06);
    --box-shadow7: rgba(0, 0, 0, 0.16);
    --box-shadow8: rgba(0, 0, 0, 0.1);
    --box-shadow9: rgba(0, 0, 0, 0.08);
    --picture-shadow: rgba(47, 48, 58, 0.4);
    --icons-color: #AFB1B8;
    --icons-bck: rgba(255, 255, 255, 0.1);
    --border-email: rgba(255, 255, 255, 0.3);
    --work-bck: rgba(47, 48, 58, 0.8);
    --modal-border: rgba(33, 33, 33, 0.2);
    --modal-comment-placeholder: rgba(46, 46, 46, 0.5);
}

body {
    background-color: var(--global-bck-color);
    font-family: 'Roboto', sans-serif;
    color: var(--global-txt);
    box-shadow: 0px 4px 4px var(--box-shadow);
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* index */

.container {
    width: 1200px;
    margin: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.menu {
    border: solid 1px var(--border-top);
}

.headermenu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-top);
}

.headerlogo {
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-logo-word1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.035em;
    color: var(--special);
}

.header-logo-word2 {
    color: var(--boring-black);
}

.footer-logo-word2 {
    color: var(--global-bck-color);
}

.menunav {
    width: 254px;
    margin-left: 92px;
}

.main-links {
    display: flex;
    gap: 46px;
}

.main-links li {
    list-style: none;
    
}

.active::after {
    content: "";
    background: var(--special);
    width: 53px;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 45px;
    position: absolute;
    border-radius: 2px;
}

.link-head {
    color: var(--normal-links);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.main-links a:focus,
.main-links a:hover {
    color: var(--special);
}

.topmedia {
    color: var(--global-txt);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-decoration: none;
}

.contact {
    padding-left: 345px;
    gap: 50px;
    display: flex;
    list-style: none;
}

.mail {
    width: 135px;
    height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
    width: 110px;
    height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:focus,
.phone:hover,
.mail:focus,
.mail:hover {
    color: var(--special);
}

.main-header {
    background-color: var(--mh-color);
    text-align: center;
}

.main-header .container {
    padding: 200px 252px 200px 252px;
}

.header-foto {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.0), rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
}

.mh-text {
    color: var(--normal-txt);
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    max-width: 696px;
    padding-bottom: 30px;
    text-align: center;
}

h1 {
    margin: 0;
}

.mh-button {
    background-color: var(--special);
    color: var(--normal-txt);
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow2);
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    border: none;
    font-family: inherit;
    cursor: pointer;

}

/* main */


.team-features {
    display: flex;
    gap: 30px;
}

.feature {
    width: 270px;
    list-style: none;
}

.pic-feature {
    width: 270px;
    height: 120px;
    background-color: var(--box-bck-color);
    padding: 25px 100px 25px 100px;
}

.text-feat {
    padding-top: 30px;
    width: 270px;
}

.hfeat {
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--normal-links);
}

.pfeat {
    
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

.about-work {
    width: 1170px;
}

.our-work {
    display: flex;
    gap: 30px;
}

.our-team h2,
.about-work h2 {
    color: var(--normal-links);
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}

.about-work li,
.our-team li {
    list-style: none;
}

.work-label {
    position: relative;
}

.label {
    position: absolute;
    background-color: var(--work-bck);
    text-transform: uppercase;
    color: var(--global-bck-color);
    bottom: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    width: 370px;
    padding: 27px 0;
}

.team-bck {
    background-color: var(--box-bck-color);
}

.team {
    width: 1170px;
    display: flex;
    gap: 30px;
}

.team-card {
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--box-shadow3), 0px 1px 1px var(--box-shadow4), 0px 2px 1px var(--box-shadow5);
    background-color: var(--global-bck-color);
    margin: 0;
}

.hcard {
    color: var(--normal-links);
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: medium;
    text-align: center;
    padding: 30px 99px 10px 99px;
}

.pcard {
    color: var(--global-txt);
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 16px;
}

.social-links-team {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.icons {
    display: block;
    border-radius: 50%;
    padding: 12px 12px 8px 12px;
    background-color: var(--global-bck-color);
    fill: var(--icons-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover {
    background-color: var(--special);
    fill: var(--global-bck-color);
}

.social-pic {
    color: var(--icons-color);
}

.our-clients {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.client-icon {
    display: flex;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--icons-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon:hover {
    border: 1px solid var(--special);
    fill: var(--special);
}


/* footer */
.bottom {
    height: 252px;
    background-color: var(--mh-color);
    padding-top: 60px;
}

.bottom-media {
    list-style: none;
    display: flex;
    gap: 70px;
}

.contacts {
    padding-top: 20px;
}

.adtext {
    width: 246px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--global-bck-color);
    font-style: normal;
}

.mail2,
.phone2 {
    width: 231px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--color2);
    padding-top: 9px;
    display: block;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail2:focus,
.mail2:hover,
.phone2:focus,
.phone2:hover {
    color: var(--special);
}

.socials-bottom {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--global-bck-color);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.icon-list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.icons-bottom {
    display: block;
    border-radius: 50%;
    padding: 12px 12px 8px 12px;
    background-color: var(--icons-bck);
    fill: var(--global-bck-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-bottom:hover {
    background-color: var(--special);
}


/* Portfolio */

/* buttons */
.btnlist {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btnlist li {
    list-style: none;
}

.filterbtn {
    background-color: var(--box-bck-color);
    color: var(--normal-links);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filterbtn:focus,
.filterbtn:hover {
    background-color: var(--special);
    color: var(--global-bck-color);
    box-shadow: 0px 3px 1px  var(--box-shadow8), 0px 1px 2px var(--box-shadow9), 0px 2px 2px var(--box-shadow3);
}

.one {
    width: 121px;
    height: 38px;
}

.two {
    width: 93px;
    height: 38px;
}

.three {
    width: 114px;
    height: 38px;
}

.four {
    width: 91px;
    height: 38px;
}

.five {
    width: 121px;
    height: 38px;
}

/* projects */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding-top: 34px;
    justify-content: center;

}

.hproject-card {
    color: var(--normal-links);
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
}

.pproject-card {
    color: var(--global-txt);
    line-height: 1.9;
    letter-spacing: 0.03em;
    font-size: 16px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
}

.projects-list li figure figcaption {
    border: solid 1px var(--color1);
}

.projects-list li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list li:hover {
    box-shadow: 0px 1px 1px var(--box-shadow3), 0px 4px 4px var(--box-shadow6), 1px 4px 6px var(--box-shadow7);
}

img {
    display: block;
}

.project-card:hover .card-overlay {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-295px);
}

.card-overlay {
    background-color: var(--special-overlay);
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay p {
    color: var(--global-bck-color);
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    padding: 49px 45px 49px 24px;
}

.project-card {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card figcaption {
    position: relative;
    background-color: var(--global-bck-color);
}

/* ikony */

.icon-top {
    stroke: currentColor;
    fill: currentColor;
    margin-right: 10px;
}

.icon-feature {
    stroke: currentColor;
    fill: currentColor;
}

/* okno modalne */

.backdrop {
    background-color: var(--box-shadow5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: no-drop;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--global-bck-color);
    cursor: context-menu;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    color: var(--boring-black);
    background-color: var(--global-bck-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--box-shadow8);
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 13px;
}

/* formularze */

.newsletter_p {
    font-size: 14;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--global-bck-color);
    text-transform: uppercase;
    padding-bottom: 20px;
    
}

.email-window {
    width: 358px;
    border: 1px solid var(--border-email);
    filter: drop-shadow(0px 4px 4px var(--box-shadow2));
    border-radius: 4px;
    background-color: inherit;
    padding: 15px;
    color: var(--color2);
}

.btn-mail {
    background-color: var(--special);
    color: var(--global-bck-color);
    box-shadow: 0px 4px 4px var(--box-shadow2);
    border-radius: 4px;
    border-color: transparent;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
}

.newsletter-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.modal_p {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: var(--normal-links);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 12px;
}

.btn-send {
    width: 200px;
    height: 50px;
    background-color: var(--special);
    color: var(--global-bck-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    border: none;
    box-shadow: 0px 4px 4px var(--box-shadow2);
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}

.modal-label {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--global-txt);
    display: flex;
    gap: 4px;
    flex-direction: column;
    position: relative;
}

.modal-userdata {
    border: 1px solid var(--modal-border);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    outline: none;
}

.modal-userdata:focus + svg {
    fill: var(--special);
}

.modal-userdata:focus {
    border-color: var(--special);
}

.modal-comment-area {
    width: 448px;
    height: 120px;
    border: 1px solid var(--modal-border);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    outline: none;
}

.modal-comment-area:focus {
    border-color: var(--special);
}

.modal-comment-area::placeholder {
    color: var(--modal-comment-placeholder);
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.form-svg {
    position: absolute;
    left: 12px;
    bottom: 12px;
}

.terms-accept {
    color: var(--global-txt);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.terms-accept a {
    color: var(--special);
}

.accept-box {
    width: 16px;
    height: 15px;
    position: relative;
    border: 2px solid var(--normal-links);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    z-index: 100;
}

.agreement {
    display: flex;
    align-items: center;
}

.accept-icon {
    position: absolute;
    width: 17px;
    height: 18px;
    padding: 2px;
    fill: var(--global-bck-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    border-radius: 2px;
}

.checkbox:checked +.accept-icon {
    background-color: var(--special);
    border: none;
}