:root {
    --global-bck-color: #fff;
    --mh-color: #2F303A;
    --normal-txt: #fff;
    --special: #2196F3;
    --normal-links: #212121;
    --boring-black: #000;
    --border-top: #ECECEC;
    --global-txt: #757575;
    --box-bck-color: #F5F4FA;
    --color1: #eee;
    --color2: rgba(255, 255, 255, 0.6);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --box-shadow2: rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--global-bck-color);
    font-family: 'Roboto', sans-serif;
    color: var(--global-txt);
    box-shadow: 0px 4px 4px var(--box-shadow);
    width: 1600px;
}

/* index */
/* header */
.menu {
    width: 1600px;
    height: 80px;
    border: solid 1px var(--border-top);
}

.logo1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.035em;
    color: var(--special);
}

.logo2 {
    color: var(--boring-black);
}

.logo3 {
    color: var(--global-bck-color);
}

.menunav {
    width: 254px;
    height: 16px;
    display: inline-block;
}

.main-links li {
    list-style: none;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px var(--box-shadow)) drop-shadow(0px 4px 4px var(--box-shadow));
}

.main-links a {
    color: var(--normal-links);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.main-links a:focus,
.main-links a:hover {
    color: var(--special);
}

.topmedia {
    color: var(--global-txt);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
}

.mail {
    width: 135px;
    height: 16px;
}

.phone {
    width: 110px;
    height: 16px;
}

.phone:focus, .phone:hover,
.mail:focus, .mail:hover {
    color: var(--special);
}

.main-header {
    background-color: var(--mh-color);
    width: 1600px;
    height: 600px;
}

.mh-text {
    color: var(--normal-txt);
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    width: 696px;
}

.mh-button {
    background-color: var(--special);
    color: var(--normal-txt);
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow2);
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

/* main */
.atuty {
    width: 1170px;
    height: 101px;
}

.feature {
    width: 270px;
    height: 101px;
    list-style: none;
    display: inline-block;
}

.hfeat {
    width: 270px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--normal-links);
}

.pfeat {
    width: 270px;
    height: 75px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

.box1 {
    width: 1170px;
    height: 386px;
}

.box1 h2, .box2 h2 {
    color:var(--normal-links);
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.box1 li, .box2 li {
    list-style: none;
    display: inline-block;
}

.box2 {
    width: 1600px;
    height: 648px;
    background-color: var(--box-bck-color);
}

.box2 ul {
    width: 1170px;
    height: 368px;
}

/* footer */
.bottom {
    width: 1600px;
    height: 252px;
    background-color: var(--mh-color);
}

.box3 {
    width: 246px;
    height: 81px;
}

.adtext {
    width: 246px;
    height: 21px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--global-bck-color);
    font-style: normal;
}

.mail2, .phone2 {
    width: 231px;
    height: 21px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--color2);
    display: inline-block;
}

.mail2:focus, .mail2:hover,
.phone2:focus, .phone2:hover {
    color: var(--special);
}

/* Portfolio */
/* buttons */
.btnlist {
    width: 572px;
    height: 54px;
}

.btnlist li {
    list-style: none;
    display: inline-block;
}

.filterbtn {
    background-color: var(--box-bck-color);
    color: var(--normal-links);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

.filterbtn:focus, .filterbtn:hover {
    background-color: var(--special);
    color: var(--global-bck-color);
}

.one {
    width: 121px;
    height: 38px;
}

.two {
    width: 93px;
    height: 38px;
}

.three {
    width: 114px;
    height: 38px;
}

.four {
    width: 91px;
    height: 38px;
}

.five {
    width: 121px;
    height: 38px;
}

/* projects */
.projects li {
    list-style: none;
    display: inline-block;
}