:root {
    --global-bck-color: #fff;
    --mh-color: #2F303A;
    --normal-txt: #fff;
    --special: #2196F3;
    --normal-links: #212121;
    --boring-black: #000;
    --border-top: #ECECEC;
    --global-txt: #757575;
    --box-bck-color: #F5F4FA;
    --color1: #eee;
    --color2: rgba(255, 255, 255, 0.6);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --box-shadow2: rgba(0, 0, 0, 0.15);
    --box-shadow3: rgba(0, 0, 0, 0.12);
    --box-shadow4: rgba(0, 0, 0, 0.14);
    --box-shadow5: rgba(0, 0, 0, 0.2);
    --box-shadow6: rgba(0, 0, 0, 0.06);
    --box-shadow7: rgba(0, 0, 0, 0.16);
    --box-shadow8: rgba(0, 0, 0, 0.1);
    --box-shadow9: rgba(0, 0, 0, 0.08);
    --picture-shadow: rgba(47, 48, 58, 0.4);
    --icons-color: #AFB1B8;
    --icons-bck: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--global-bck-color);
    font-family: 'Roboto', sans-serif;
    color: var(--global-txt);
    box-shadow: 0px 4px 4px var(--box-shadow);
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* index */

.container {
    width: 1200px;
    margin: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.menu {
    border: solid 1px var(--border-top);
}

.headermenu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-top);
}

.headerlogo {
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-logo-word1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.035em;
    color: var(--special);
}

.header-logo-word2 {
    color: var(--boring-black);
}

.footer-logo-word2 {
    color: var(--global-bck-color);
}

.menunav {
    width: 254px;
    padding-left: 92px;
}

.main-links {
    display: flex;
    gap: 46px;
}

.main-links li {
    list-style: none;
    filter: drop-shadow(0px 4px 4px var(--box-shadow)) drop-shadow(0px 4px 4px var(--box-shadow));
}

.main-links a {
    color: var(--normal-links);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.main-links a:focus,
.main-links a:hover {
    color: var(--special);
}

.topmedia {
    color: var(--global-txt);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-decoration: none;
}

.contact {
    padding-left: 371px;
    gap: 50px;
    display: flex;
    list-style: none;
}

.mail {
    width: 135px;
    height: 16px;
}

.phone {
    width: 110px;
    height: 16px;
}

.phone:focus,
.phone:hover,
.mail:focus,
.mail:hover {
    color: var(--special);
}

.main-header {
    background-color: var(--mh-color);
    text-align: center;
}

.main-header .container {
    padding: 200px 252px 200px 252px;
}

.header-foto {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.0), rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
}

.mh-text {
    color: var(--normal-txt);
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    max-width: 696px;
    padding-bottom: 30px;
    text-align: center;
}

h1 {
    margin: 0;
}

.mh-button {
    background-color: var(--special);
    color: var(--normal-txt);
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow2);
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    border: none;
    font-family: inherit;
    cursor: pointer;

}

/* main */


.team-features {
    display: flex;
    gap: 30px;
}

.feature {
    width: 270px;
    list-style: none;
}

.pic-feature {
    width: 270px;
    height: 120px;
    background-color: var(--box-bck-color);
    padding: 25px 100px 25px 100px;
}

.text-feat {
    padding-top: 30px;
    width: 270px;
}

.hfeat {
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--normal-links);
}

.pfeat {
    
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

.about-work {
    width: 1170px;
}

.our-work {
    display: flex;
    gap: 30px;
}

.our-team h2,
.about-work h2 {
    color: var(--normal-links);
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}

.about-work li,
.our-team li {
    list-style: none;
}

.team-bck {
    background-color: var(--box-bck-color);
}

.team {
    width: 1170px;
    display: flex;
    gap: 30px;
}

.team-card {
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--box-shadow3), 0px 1px 1px var(--box-shadow4), 0px 2px 1px var(--box-shadow5);
    background-color: var(--global-bck-color);
    margin: 0;
}

.hcard {
    color: var(--normal-links);
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: medium;
    text-align: center;
    padding: 30px 99px 10px 99px;
}

.pcard {
    color: var(--global-txt);
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 16px;
}

.social-links-team {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.icons {
    display: block;
    border-radius: 50%;
    padding: 12px 12px 8px 12px;
    background-color: var(--global-bck-color);
    fill: var(--icons-color);
}

.icons:hover {
    background-color: var(--special);
    fill: var(--global-bck-color);
}

.social-pic {
    color: var(--icons-color);
}

.our-clients {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.client-icon {
    display: flex;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--icons-color);
    justify-content: center;
    align-items: center;
}

.client-icon:hover {
    border: 1px solid var(--special);
    fill: var(--special);
}


/* footer */
.bottom {
    height: 252px;
    background-color: var(--mh-color);
    padding-top: 60px;
}

.bottom-media {
    list-style: none;
    display: flex;
    gap: 70px;
}

.contacts {
    padding-top: 20px;
}

.adtext {
    width: 246px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--global-bck-color);
    font-style: normal;
}

.mail2,
.phone2 {
    width: 231px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--color2);
    padding-top: 9px;
    display: block;
    text-decoration: none;
}

.mail2:focus,
.mail2:hover,
.phone2:focus,
.phone2:hover {
    color: var(--special);
}

.socials-bottom {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--global-bck-color);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.icon-list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.icons-bottom {
    display: block;
    border-radius: 50%;
    padding: 12px 12px 8px 12px;
    background-color: var(--icons-bck);
    fill: var(--global-bck-color);
}

.icons-bottom:hover {
    background-color: var(--special);
}


/* Portfolio */

/* buttons */
.btnlist {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btnlist li {
    list-style: none;
}

.filterbtn {
    background-color: var(--box-bck-color);
    color: var(--normal-links);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

.filterbtn:focus,
.filterbtn:hover {
    background-color: var(--special);
    color: var(--global-bck-color);
    box-shadow: 0px 3px 1px  var(--box-shadow8), 0px 1px 2px var(--box-shadow9), 0px 2px 2px var(--box-shadow3);
}

.one {
    width: 121px;
    height: 38px;
}

.two {
    width: 93px;
    height: 38px;
}

.three {
    width: 114px;
    height: 38px;
}

.four {
    width: 91px;
    height: 38px;
}

.five {
    width: 121px;
    height: 38px;
}

/* projects */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding-top: 34px;
    justify-content: center;

}

.hproject-card {
    color: var(--normal-links);
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
}

.pproject-card {
    color: var(--global-txt);
    line-height: 1.9;
    letter-spacing: 0.03em;
    font-size: 16px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
}

.projects-list li figure figcaption {
    border: solid 1px var(--color1);
}

.projects-list li:hover {
    box-shadow: 0px 1px 1px var(--box-shadow3), 0px 4px 4px var(--box-shadow6), 1px 4px 6px var(--box-shadow7);
}

img {
    display: block;
}

/* ikony */

.icon-top {
    stroke: currentColor;
    fill: currentColor;
    margin-right: 10px;
}

.icon-feature {
    stroke: currentColor;
    fill: currentColor;
}