@media screen and (max-width: 767px) {
  .nav-and-contacts {
    display: none;
  }

  .about-work {
    display: none;
  }

  .active {
    display: none;
  }

  .modal-agreement {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

/* mobile 480 only */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    min-width: 480px;
  }

  .modal {
    min-height: 609px;
  }

  .modal__form {
    min-width: 450px;
  }

  .modal__userdata {
    min-width: 370px;
  }

  .modal__comment-area {
    min-width: 370px;
    margin-bottom: 20px;
  }

  .modal__agreement {
    margin-bottom: 30px;
    flex-direction: row;
  }
  .our-team__card-img {
    min-width: 450px;
  }

  .clients__list {
    max-height: 399px;
    flex-wrap: wrap;
  }

  .portfolio-buttons {
    min-width: 392px;
    margin-right: 73px;
  }

  .portfolio__card-image {
    min-width: 450px;
  }

  .portfolio__card-overlay p {
    padding: 77px 24px;
    font-size: 18px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-work {
    display: none;
  }
}
