.team-features {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-direction: column;
}

.team-features__item {
  width: 320px;
}

.team-features__image {
  height: 120px;
  background-color: $team-features__background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-features__text {
  padding-top: 30px;
}

.team-features__header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $links-color;
  text-align: center;
}

.team-features__description {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: $body__text-color;
  padding-top: 10px;
}
