$corporate__color: #2196f3;
$icons-color: #afb1b8;
$icons-background: rgba(255, 255, 255, 0.1);
$text-color: #000;
$global-background: #fff;
$links-color: #212121;

$box-shadow1: rgba(0, 0, 0, 0.25);
$box-shadow2: rgba(0, 0, 0, 0.15);
$box-shadow3: rgba(0, 0, 0, 0.12);
$box-shadow4: rgba(0, 0, 0, 0.14);
$box-shadow5: rgba(0, 0, 0, 0.2);
$box-shadow6: rgba(0, 0, 0, 0.06);
$box-shadow7: rgba(0, 0, 0, 0.16);
$box-shadow8: rgba(0, 0, 0, 0.1);
$box-shadow9: rgba(0, 0, 0, 0.08);

$body__text-color: #757575;
$body__box-shadow: rgba(0, 0, 0, 0.25);

$page-header__border: #ececec;

$main-header__background: #2f303a;
$main-header__text: #fff;
$main-header__box: rgba(0, 0, 0, 0.15);

$team-features__background: #f5f4fa;

$about-work__background: rgba(47, 48, 58, 0.8);

$our-team__background: #f5f4fa;
$our-team__shadow1: rgba(0, 0, 0, 0.12);
$our-team__shadow2: rgba(0, 0, 0, 0.14);
$our-team__shadow3: rgba(0, 0, 0, 0.2);

$bottom__background: #2f303a;
$bottom__text: #fff;
$bottom__media-color: rgba(255, 255, 255, 0.6);
$bottom__logo-word: #fff;
$bottom__border: rgba(255, 255, 255, 0.3);

$modal__border: rgba(33, 33, 33, 0.2);
$modal__placeholder: rgba(46, 46, 46, 0.5);
$modal__shadow: rgba(0, 0, 0, 0.2);
$modal__close: rgba(0, 0, 0, 0.1);

$portfolio__border: #eee;
$portfolio_overlay: rgba(33, 150, 243, 0.9);
$portfolio_button: #f5f4fa;